{% extends 'base_layout.html' %}
{% block content %}

<title>Faculty Contact | Course Planning Assistant</title>


<!-- The form -->
<div class="row pt-2 pb-4">
  <div class="col-4">
    <form class="form-inline my-2 my-lg-0" method="GET">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="name">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <div class="col-6">
  </div>

  <div class="col-1 text-right">
    <a href="{% url 'shome' %}"><h2><i class="fas fa-comment-alt"></i></h2></a>
  </div>

  <div class="col-1 text-left">
    <a href="{% url 'create' %}"><h2><i class="fas fa-plus"></i></h2></a>
  </div>
</div>

{%for person in data.records %}
  <div class="card-deck col-6 pt-3">
    <div class="card">
      <ul class="list-group">
        <li class="list-group-item active">{{ person.name.first }} {{person.name.last}}</li>
        <li class="list-group-item"><a>{{ person.position.primary.department.name }}</a></li>
        <li class="list-group-item"><a href='mailto:{{ person.email }}'>{{ person.email }}</a></li>
        <li class="list-group-item"><a>{{ person.position.primary.building.name }} {{ person.position.primary.building.room.number }}</a></li>
      </ul>
    </div>
  </div>
{% endfor %}
  <br>
  <br>

{% endblock %}
