{% extends 'base_layout.html' %}

{% block content %}

<section class="jumbotron text-left">
<h1 class="display-1">Solutions</h1>

{% for solution in solutions.all %}
<div class="row pt-5">
  <div class="col-7" onclick="window.location='{% url 'detail' solution.id %}';" style="cursor: pointer;">
    <h5>{{ solution.title }}</h5>
  </div>
  <div class="col-1">
    <a href="javascript:{document.getElementById('upvote{{ solution.id }}').submit()}"><button class="btn btn-primary btn-sm btn-block"><span class="oi oi-caret-top"></span> Upvote {{ solution.votes_total }}</button></a>
  </div>
</div>
<div class="row pt-1">
  <div class="col-4" onclick="window.location='{% url 'detail' solution.id %}';" style="cursor: pointer;">
    <a>Published by {{ solution.publisher.username }}</a>
  </div>
  <div class="col-3 text-right" onclick="window.location='{% url 'detail' solution.id %}';" style="cursor: pointer;">
    <a>{{ solution.pub_date_pretty }}</a>
  </div>
</div>

<form id="upvote{{ solution.id }}" method="POST" action="{% url 'upvote' solution.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>
{% endfor %}

</section>


{% endblock %}
