{% extends 'base_layout.html' %}
{% load static from staticfiles %}
{% block content %}

<title>Faculty Contact | Course Planning Assistant</title>
    <div class="container">

      <h1 class="jumbotron-heading">Welcome!</h1>

      <br>
      <br>
      <p class="lead text-muted">This project will aid students in planning their class schedules at Florida Tech effectively, so they may graduate in a timely manner. Given the students’ personal combination of completed courses for their major and the degree plan offered to incoming freshmen of the same major, the system will present the user with possibilities effective for staying on track to graduate on time. Through the experience of other users, the system can learn more about student options and provide this knowledge to new students.</p>
      <p>
        <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
        <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
      </p>
    </div>
    <div class="album py-5 bg-light">
  {% if user.is_authenticated %}
  <div class="container">
    <!-- Features -->
    <!-- Features -->
    <!-- Features -->
    <h1 class="display-4 text-center">Our Features</h1>
    <br>
    <br>
    <div class="card-deck">
      <div class="card mb-3">
        <img class="card-img-top" src="{% static 'programplan.png' %}" alt="Card image cap">
        <div class="card-body text-primary">
          <h5 class="card-title">Program Plan</h5>
          <a href="#"><span class="badge badge-pill badge-success">Full Access</span></a>
          <p class="card-text pt-2">Creates a customized degree plan for the user based on the typical degree program path and the credits that the user already has acquired. Classes that the user have taken will be shown in green, classes that are being taken are shown in yellow, and classes that will need to be taken are shown in red.</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
      <div class="card mb-3">
        <img class="card-img-top" src="{% static 'semesterplan.png' %}" alt="Card image cap">
        <div class="card-body text-primary">
          <h5 class="card-title">Semester Plan</h5>
          <a href="#"><span class="badge badge-pill badge-success">Full Access</span></a>
          <p class="card-text pt-2">Helps the user to create a plan for the next semester based on factors such as classes available, accomplished prerequisites, student schedule preferences, and student class preferences. Given available classes are based on the created degree plan and does not include irrelevant electives or overly broad required electives (e.g. science or math).</p>
        </div>
      </div>
      <div action="{% url 'faculties' %}"class="card mb-3" href="{% url 'faculties' %}">
        <img class="card-img-top" src="{% static 'facultycontact.png' %}" alt="Card image cap">
        <div class="card-body text-primary">
          <h5 class="card-title">Faculty Contact</h5>
          <a href="{% url 'faculties' %}"><span class="badge badge-pill badge-success">Full Access</span></a>
          <p class="card-text pt-2">If an issue occurs with degree planning and/or semester planning that the system cannot resolve, it will give relevant contact details to the user for speaking with faculty that could help fix the issue. Such issues might include prerequisite waiving, corequisite waiving, graduate courses, and other possible issues with registration.</p>
        </div>
      </div>
    </div>
  </div>

  {% else %}
  <div class="container">
    <!-- Features -->
    <!-- Features -->
    <!-- Features -->
    <h1 class="display-4 text-center">Our Features</h1>
    <br>
    <br>
    <div class="card-deck">
      <div class="card mb-3">
        <img class="card-img-top" src="{% static 'programplan.png' %}" alt="Card image cap">
        <div class="card-body text-primary">
          <h5 class="card-title">Program Plan</h5>
          <a href="{% url 'account:signup' %}"><span class="badge badge-pill badge-dark">Sign Up for Better Experience</span></a>
          <p class="card-text pt-2">Creates a customized degree plan for the user based on the typical degree program path and the credits that the user already has acquired. Classes that the user have taken will be shown in green, classes that are being taken are shown in yellow, and classes that will need to be taken are shown in red.</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
      <div class="card mb-3">
        <img class="card-img-top" src="{% static 'semesterplan.png' %}" alt="Card image cap">
        <div class="card-body text-primary">
          <h5 class="card-title">Semester Plan</h5>
          <a href="{% url 'account:signup' %}"><span class="badge badge-pill badge-dark">Sign Up for Better Experience</span></a>
          <p class="card-text pt-2">Helps the user to create a plan for the next semester based on factors such as classes available, accomplished prerequisites, student schedule preferences, and student class preferences. Given available classes are based on the created degree plan and does not include irrelevant electives or overly broad required electives (e.g. science or math).</p>
        </div>
      </div>
      <div action="{% url 'faculties' %}"class="card mb-3" href="{% url 'faculties' %}">
        <img class="card-img-top" src="{% static 'facultycontact.png' %}" alt="Card image cap">
        <div class="card-body text-primary">
          <h5 class="card-title">Faculty Contact</h5>
          <a href="{% url 'faculties' %}"><span class="badge badge-pill badge-success">Full Access</span></a>
          <p class="card-text pt-2">If an issue occurs with degree planning and/or semester planning that the system cannot resolve, it will give relevant contact details to the user for speaking with faculty that could help fix the issue. Such issues might include prerequisite waiving, corequisite waiving, graduate courses, and other possible issues with registration.</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  </div>
</div>

{% endblock %}
